<!DOCTYPE html>
<html lang="ja">
<head>
  <title>
    FabDev | Bar chart race generator
  </title>
  <meta property="og:title" content="Opensource bar chart race generator">
  <meta property="og:description" content="Generate your own bar chart race from a csv file thanks to this open source tool made by FabDev">
  <meta property="og:image" content="https://fabdevgit.github.io/barchartrace/css/demo.png">
  <meta property="og:url" content="https://fabdevgit.github.io/barchartrace/">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Generate your own bar chart race from a csv file thanks to this open source tool made by FabDev">
  <meta name="keywords" content="Opensource bar chart race generator">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="css/favicon.png">
</head>
<body>
<main class="main-content" id="app">
  <section class="section">
    <div class="container">
      <h1 id="main-title" class=" text-center">月間売上レース</h1>
      <div class="card border">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <label for="">データセット</label>
              <table class="table table-bordered">
                <tbody>
                <tr v-for="source in sources" :key="source.id">
                  <td>(( source.year ))年(( source.month ))月</td>
                  <td><a href="#" @click.prevent="loadSource((source))">データ読込</a></td>
                </tr>
                </tbody>
              </table>

              <form @submit="checkForm">
                <div v-if="errors.length">
                  <b>Please correct the following error(s):</b>
                  <ul>
                    <li v-for="error in errors">(( error ))</li>
                  </ul>
                </div>
                <div class="form-group text-center">
                  <button type="button" v-if="!csv_data" class="btn btn-outline-primary disabled">データを読み込んで下さい</button>
                  <button type="submit" v-if="csv_data" class="btn btn-primary">レース開始</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="chart-card" class="card">
        <div class="card-body position-relative">
          <div class="text-right mb-4">
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="stopRace">Stop</button>
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="checkForm">Restart</button>
          </div>
          <h5 class="card-title" id="graph-title">((title))</h5>
          <div id="chartDiv" style="width:100%; height: 650px"></div>
          <p style="position:absolute;top:50%;left:50%;font-size:1.125rem;transform: translate(-50%,-50%)" v-if="interval == null">Please upload data first</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
<script src="js/barchartrace.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            errors: [],
            csv_data: null,
            interval: null,
            duration: 20,
            tickDuration: 500,
            top_n: 10,
            title: "My bar chart",
            sources: [...Array(3)].map((_,i) => i).reverse().map(i => {
              const m = moment().subtract(i, 'M')
              return {
                year: m.year(),
                month: m.format('MM')
              }
            })
        },
        methods: {
            loadSource: function(v) {
                var self = this;
                self.duration = 30;
                self.top_n = 33;
                self.title = `${v.year}年${v.month}月`;
                Papa.parse(`http://192.168.0.136/race/datasets/${v.year}${v.month}.csv`, {
                        download: true,
                        header: true,
                        skipEmptyLines: true,
                        error: function(err) {
                            self.csv_data = ''
                            alert(err)
                        },
                        complete: function (results) {
                            if (Object.keys(results.data[0]).length === 3) {
                                results.data = reshapeData(results.data)
                            }
                            self.csv_data = results.data;
                        }
                    }
                )
			      },
            stopRace: function () {
                if (!this.interval) {
                    return
                } else {
                    this.interval.stop()
                }
            },
            checkForm: function (e) {
                var self = this;
                if (self.interval !== null) {
                    self.interval.stop()
                }
                if (!this.csv_data) {
                    return
                }
                if (self.tickDuration && self.top_n) {
                    e.preventDefault();
                    this.top_n = parseInt(self.top_n);
                    this.duration = parseInt(self.duration);
                    this.tickDuration = self.duration / self.csv_data.length * 1000
                    let chartDiv = document.getElementById("chartDiv");
                    var data = JSON.parse(JSON.stringify(self.csv_data))
                    self.interval = createBarChartRace(data, self.top_n, self.tickDuration);
                }

                self.errors = [];

                if (!self.csv_data) {
                    self.errors.push('csv file is required');
                }
                if (!self.tickDuration) {
                    self.errors.push('Time between frames required.');
                }
                if (!self.top_n) {
                    self.errors.push('Number of bars to display required.');
                }
                e.preventDefault();
                window.scrollTo({top: $("#chart-card").offset().top - 10, behavior: 'smooth'});
            }
        },
        delimiters: ["((", "))"]

    });


    /*
    reshapes the data from the second accepted csv format to the other :
    (one row per contender and per date) => (one row per date (ordered) and one column per contender.)
    */
    function reshapeData(data) {
        // groupby dates (first column)
        column_names = new Set(data.map(x => x[Object.keys(x)[1]]));
        const grouped_by_date = _.groupBy(data, (e) => e[Object.keys(e)[0]]);
        return Object.keys(grouped_by_date).sort().map((k) => {
            item = {'date': k};
            column_names.forEach((n) => item[n] = 0);
            grouped_by_date[k].forEach((e) => item[e[Object.keys(e)[1]]] = e[Object.keys(e)[2]]);
            return item
        })

    }
</script>
</body>
</html>
